<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="verbose" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <group ns="uav1">
    <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch">
      <arg name="name" value="uav1" />
      <arg name="model" value="$(find dji_m100_description)/urdf/rotors/dji_m100.urdf.xacro"/>
      <arg name="is_rotors_controlled" value="true"/>
    </include>
    <node name="hovering_example" pkg="rotors_gazebo" type="hovering_example" output="screen"/>
    <node name="waypoint_publisher" pkg="rotors_gazebo" type="waypoint_publisher" output="screen"/>
  </group>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dji_m100_gazebo)/rviz_cfg/flight.rviz"/>
</launch>
