<?xml version="1.0"?>

<launch>
    <arg name="initial_x" default="0"/>
    <arg name="initial_y" default="2"/>
    <arg name="initial_z" default="0.5"/>
    <arg name="is_collision_enabled" default="false"/>
    <group ns="uav1">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav1" />
            <arg name="tf_prefix" value="uav1" />
            <arg name="x" value="$(arg initial_x)" />
            <arg name="y" value="$(arg initial_y)" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
            <arg name="is_hitl_model" value="false"/>
            <arg name="is_collision_enabled" value="$(arg is_collision_enabled)"/>
        </include>
    </group>
    <!--group ns="uav2">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav2" />
            <arg name="tf_prefix" value="uav2" />
            <arg name="x" value="$(eval 3.0 + arg('initial_x'))" />
            <arg name="y" value="$(arg initial_y)" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
            <arg name="is_hitl_model" value="false"/>
            <arg name="is_collision_enabled" value="$(arg is_collision_enabled)"/>
        </include>
    </group>
    <group ns="uav3">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav3" />
            <arg name="tf_prefix" value="uav3" />
            <arg name="x" value="$(eval 3.0 + arg('initial_x'))" />
            <arg name="y" value="$(eval 3.0 + arg('initial_y'))" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
            <arg name="is_hitl_model" value="false"/>
            <arg name="is_collision_enabled" value="$(arg is_collision_enabled)"/>
        </include>
    </group>
    <group ns="uav4">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav4" />
            <arg name="tf_prefix" value="uav4" />
            <arg name="x" value="$(arg initial_x)" />
            <arg name="y" value="$(eval 3.0 + arg('initial_y'))" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
            <arg name="is_hitl_model" value="false"/>
            <arg name="is_collision_enabled" value="$(arg is_collision_enabled)"/>
        </include>
    </group>
    <group ns="uav5">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav5" />
            <arg name="tf_prefix" value="uav5" />
            <arg name="x" value="$(eval -3.0 + arg('initial_x'))" />
            <arg name="y" value="$(arg initial_y)" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
        </include>
    </group>
    <group ns="uav6">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav6" />
            <arg name="tf_prefix" value="uav6" />
            <arg name="x" value="$(eval -3.0 + arg('initial_x'))" />
            <arg name="y" value="$(eval 3.0 + arg('initial_y'))" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
        </include>
    </group>
    <group ns="uav7">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav7" />
            <arg name="tf_prefix" value="uav7" />
            <arg name="x" value="$(eval -3.0 + arg('initial_x'))" />
            <arg name="y" value="$(eval -3.0 + arg('initial_y'))" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
        </include>
    </group>
    <group ns="uav8">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav8" />
            <arg name="tf_prefix" value="uav8" />
            <arg name="x" value="$(arg initial_x)" />
            <arg name="y" value="$(eval -3.0 + arg('initial_y'))" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
        </include>
    </group>
    <group ns="uav9">
        <include file="$(find dji_m100_gazebo)/launch/spawn_dji_m100.launch" >
            <arg name="name" value="uav9" />
            <arg name="tf_prefix" value="uav9" />
            <arg name="x" value="$(eval 3.0 + arg('initial_x'))" />
            <arg name="y" value="$(eval -3.0 + arg('initial_y'))" />
            <arg name="z" value="$(arg initial_z)" />
            <arg name="yaw" value="0" />
        </include>
    </group-->
</launch>