<?xml version="1.0"?>

<launch>
  <arg name="world" default="$(find dji_m100_gazebo)/worlds/search_and_rescue.world"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>

  <arg unless="$(arg verbose)" name="args" value=""/>
  <arg     if="$(arg verbose)" name="args" value="--verbose"/>
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world) $(arg args)" respawn="false" output="screen"/>
  
    <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" args="$(arg args)"/>
  </group>


</launch>